---
import Layout from '../../layouts/Layout.astro';
import Recipe from '../../components/Recipe.astro';
import recipesData from '../../../../data/recipes.json';

export async function getStaticPaths() {
  return recipesData.map((recipe) => ({
    params: { slug: recipe.id },
    props: { recipe },
  }));
}

const { recipe } = Astro.props;
---

<Layout title={recipe.title} description={recipe.description}>
  <main>
    <Recipe recipe={recipe} />
  </main>
</Layout>
