---
import '../styles/global.css'

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
const defaultTitle = "RecipeCards";
const defaultDescription = "Discover delicious recipes.";
---   

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? title : defaultTitle}</title>
		<meta name="description" content={description ? description : defaultDescription} />
	</head>
	<body class="min-h-screen flex flex-col">
		<main class="flex-grow container mx-auto px-4 pt-4 pb-8">
			<slot />
		</main>
		<footer class="p-6 text-center">
			<p>&copy; {new Date().getFullYear()} RecipeCards. All rights reserved.</p>
		</footer>
	</body>
</html>